{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<!-- Analytics -->
{{ if not .Site.IsServer }}
  {{- partial "analytics" . -}}
{{ end }}

  <!-- https://qiita.com/BIwashi/items/26cf8a1c9c54f7c38614 -->
  <!-- {{ if eq true .Params.carduse }} -->
  <!-- {{"Blogなのでカスタムされたものを表示" |safeHTML}} -->
  <!-- <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}"> -->
  <!-- <meta name="twitter:image:src" content="{{ .Site.BaseURL }}{{ .Params.image }}"> -->
  <!-- {{ else }} -->
  <!-- {{"Homeなのでデフォのやつを表示" |safeHTML}} -->
  <!-- {{ end }} -->